/*====================GOOGLE FONTS===============================*/
/*@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
*/
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --main-color: #fee0f8;
    --title-color: #930b78;
    --hoover-color: #580949;
    --p-color: #413d3d;

}
body{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}
section{
    padding: 0 20% 50px 20%;
    overflow-x: clip;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--title-color);
}
h3{
    color: var(--title-color);
    margin-bottom: 15px;
    text-transform: uppercase;
}
h4{
    color: var(--title-color);
    font-weight: 600;
}
span{
    font-weight: bold;
    color: #580949;
}
p{
    color: var(--p-color);
    text-align: justify;
    font-weight: 500;
    font-size: 19px;
}
button{ 
    margin-bottom: 5px;
    background-color: white;
    color: #930b78;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid #930b78;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #fff2fd;
}
.blur{
    filter: blur(5px);
}
/*===========HEADER======================*/
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px;
    z-index: 100000;
    height: 60px;
    align-items: center;
}
.header-bg{
    background-color: var(--main-color);
}
.nails-name h3 a:hover{
    color: white;
}
.button-menu{
    font-size: 0.8rem;
    text-align: center;
    background-color: transparent;
}
.button-menu:hover{
    background-color: transparent;
    color: white;
    border:1px solid white;
}
.button-menu i{
    font-size: 20px;
  
}
/*===========NAVBAR======================*/
nav{
    display: flex;
    justify-content: center;
}
.menu{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 15em;
    z-index: 10000;
    background-color: var(--main-color);
    color: var(--title-color);
    width: 350px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: none;
}
.active{
    display: block;
}
.close-icon i{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.list{
    padding-top: 40px;
    text-align: center;
}
.list h3{
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #892b760a;
}
.navbar li{
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.navbar li:hover{
    background-color: rgb(253, 183, 239);;
}
/*==================HOME=======================*/
.home{
    background-image: linear-gradient(to top, rgb(181 163 175), rgb(46 49 65 / 0%)),
                      url('../img/nails/background.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 60dvh;
    display: flex;
    align-items: center;
}
.diamond{
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 31%);
}
.home-text h1{
    color: white;
    font-size: 3rem;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 0.4em;
}
.home-text p{
    color: white;
	font-weight: 200;
	letter-spacing: 0.1em;
	line-height: 2;
	text-transform: uppercase;
}
/*======================APPOINTMENT================================*/
.appointment{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 1.5rem;
   position: relative;
   height: 50dvh;
}
.appointment::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    top: -80px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:white%3B' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}
.appointment::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: -0px ;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23fee0f8%3B' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scaleX(-1);
}
.appointment-text p{
    width: 450px;
    margin-bottom: 10px;
}
.appointment-img{
    display: flex;
    justify-content: center;
}
.appointment-img img{
    width: 200px;
    position: relative;
    bottom: 6px;
}
/*==================SALON==========================*/
.salon{
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1.5rem;
  /*  justify-items: center;*/
    position: relative;
    height: 50dvh;
}
.salon-img img{
    width: 200px;
    border-radius: 100%;
}
.salon-text p{
    width: 450px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.salon-text a{
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    color: var(--title-color);
    align-items: center;
}
.salon-text a i{
    font-size: 20px;
    position: relative;
    top: 5px;
}

/*===============DESINGS========================*/
.desings{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    align-items: center;
    position: relative;
    height: 50dvh;
}
.desings::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    top: -80px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:white%3B' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.desings::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: -0px ;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23fee0f8%3B' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scaleX(-1);
}
.desings-img img{
    width: 200px;
    border-radius: 100%;
}
.desings-text p{
    width: 450px;
    margin-bottom: 10px;
}
.desings-text a{
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    color: var(--title-color);
    align-items: center;
}
.desings-text a i{
    font-size: 20px;
    position: relative;
    top: 5px;
}

/*====================PRICE=========================*/
.price{
    background-color: var(--main-color);
    position: relative;
}
.price::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    right: 1px;
    bottom: -30px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:white%3B' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: var(--main-color);

}
.price-text{
    display: flex;
    flex-direction: column;
    width: 750px;
}
.price-text p{
    width: 750px;
  /*  align-self: center;*/
    margin-bottom: 20px;
}
.nails-price{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.nail-price{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.nail-price img{
    width: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.nail-price h4{
    height: 45px;
    margin-bottom: 10px;
}
.nail-price h4,
.nail-price span{
    padding-left: 20px;
    margin-top: 10px;
}
.nail-price p{
 width: 300px; 
 align-self: center; 
 margin: 10px 0 5px 0;
}
.nail-price button{
    width: 200px;
    align-self: center; 
    margin-top: 15px;
}
/*===================ABOUT US=====================*/
/*.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us{
    display: flex;
    margin-top: 50px;
    margin-bottom: 40px;
    gap: 2rem;
}
.about-us p{
    font-weight: 600;
    width: 320px;
    margin-bottom: 15px;
}
.us{
    display: flex;
    margin-bottom: 20px;
}
.us a{
    color: var(--p-color);
}
.us i{
    font-size: 20px;
    padding: 5px;
    border-radius: 100%;
    border: 2px solid #930b78;
    margin-right: 10px;
}
.QR{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.QR img{
    width: 200px;
}
.QR a{
    text-align: center;
}
.about{
    display: flex;
    flex-direction: column;
}
.about h3{
    width: auto;
}

/*/////////////////////RESPONSIVE///////////////////////////////////*/
/*
@media(max-width:1285px){
    p{
        font-size: 25px;
    }
    .salon-text a,
    .desings-text a,
    .QR a{
        font-size: 20px;
    }
    .nail-price a{
        font-size: 15px;
    }
    .QR img{
        width: 300px;
    }
}
@media (max-width: 1095px){
    p{
        font-size: 17px;
    }
    .salon-text a,
    .desings-text a,
    .QR a{
        font-size: 15px;
    }
    .desings-text{
        margin-bottom: 30px;
    }
    .price-text, 
    .price-text p {
        width: 710px;
    }
    .about{
        padding-left: 100px;
    }
}
@media (max-width: 950px){
    .diamond{
        width: 50px;
    }
    .home-text h1{
        font-size: 4rem;
    }
    .home-text p{
        font-size: 17px;
    }
    .appointment,
    .salon,
    .desings,
    .price{
        padding: 0 20% 50px 15%;
    }
    .appointment-img img,
    .salon-img img,
    .desings-img img{
        width: 200px;
    }
    .appointment-text button{
        font-size: 14px;
    }
    .appointment p, 
    .salon-text p, 
    .desings-text p {
        width: 430px;
        font-size: 20px;
    }
    .appointment-text h3,
    .salon-text h3,
    .desings-text h3,
    .price-text h3,
    .about h3{
        font-size: 20px;
    }
    .salon-text a, 
    .desings-text a{
        font-size: 15px;
    }
    .price-text p{
        font-size: 20px;
        width: 690px;
    }
    .nail-price, 
    .nail-price img {
        width: 350px;
    }
    .nail-price h4, 
    .nail-price span {
        font-size: 18px;
    }
    .nail-price p {
        width: 310px;
        font-size: 18px;
    }
    .nail-price button{
        font-size: 13px;
        width: 200px;
    }
    .contact{
        padding: 0 20% 50px 20%;
    }
}
@media (max-width: 900px){
    .price-text,
    .price-text p {
        font-size: 20px;
        width: 640px;
    }
    .nail-price, 
    .nail-price img {
        width: 320px;
    }
    .about {
        padding-left: 0;
    }
    .about-us{
        gap: 0;
    }
    .QR img {
        width: 250px;
    }

}
@media (max-width: 800px){
    .home-text h1{
        font-size: 3rem;
    }
    .home-text p{
        font-size: 13px;
    }
    .appointment p, 
    .salon-text p, 
    .desings-text p {
        width: 400px;
    }
    .appointment p,
    .salon-text p, 
    .desings-text p {
        width: 400px;
    }
    .price-text, .price-text p {
        width: 600px;
    }
    .nail-price, 
    .nail-price img {
        width: 300px;
    }
    .nail-price p {
        width: 270px;
    }
    .about {
        padding-left: 100px;
    }

}
@media (max-width: 770px){
    .appointment-img img, 
    .salon-img img, 
    .desings-img img {
        width: 180px;
    }
    .appointment p, 
    .salon-text p, 
    .desings-text p {
        width: 350px;
    }
    .nail-price, 
    .nail-price img {
        width: 270px;
    }
    .price-text, 
    .price-text p {
        width: 550px;
    }
    .nail-price p {
        width: 230px;
    }
    .QR img {
        width: 200px;
    }
}
@media (max-width: 680px){
    .appointment, 
    .salon, 
    .desings, 
    .price {
        padding: 0 20% 50px 10%;
    }
    .nail-price h4, .nail-price span {
        font-size: 17px;
    }
    .about{
        padding-left: 0;
    }
}
@media (max-width: 638px){
    .appointment::after{
        height: 83px;
    }
    .appointment::before{
        bottom: -2px;
    }
    .desings::after{
        top: -79px;
    }
    .appointment p, 
    .salon-text p, 
    .desings-text p {
        width: 300px;
    }
    .price-text,
    .price-text p {
        width: 500px;
    }
    .nail-price, 
    .nail-price img {
        width: 250px;
    }
    .about-us p{
        width: 250px;
    }
}
@media (max-width: 600px){
    .appointment,
    .salon,
    .desings,
    .price {
        padding: 0 20% 50px 7%;
    }
    .appointment,
    .salon,
    .desings{
        gap: 1rem;
    }
    .appointment p,
    .salon-text p, 
    .desings-text p {
        width: 290px;
    }
    .appointment-img img {
        width: 150px;
    }
    .desings-img img, 
    .salon-img img {
        width: 150px;
    }
    .price-text p {
        width: 450px;
    }
    .nail-price, 
    .nail-price img {
        width: 230px;
    }
    .nail-price p {
        width: 210px;
    }
    .contact{
        padding: 0 10% 50px 10%;
    }
}
@media (max-width:528px){
    .appointment-img img {
        width: 120px;
        position: absolute;
        bottom: 14.5em;
        right: 5em;
        z-index: 1000000000;
    }
    .appointment p{
        width: 400px;
    }
    .appointment-text{
        margin-top: 55px;
    }
    .salon-img img {
        width: 130px;
    }
    .salon-text p{
        width: 260px;
    }
    .desings{
        grid-template-columns: 1fr;
        height: auto;
        justify-items: center;
    }
    .desings-img{
        width: 130px;
        grid-area: 1/1/2/2;
    }
    .desings-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .desings-text p{
        width: 400px;
    }
    .price-text{
        width: 430px;
        align-items: center;
    }
    .price-text p{
        width: 400px;
    }
    .nails-price{
        display: flex;
        flex-direction: column;
    }
    .nail-price,
    .nail-price img{
        width: 350px;
    }
    .nail-price{
        margin-left: 40px;
    }
    .nail-price p{
        width: 300px;
    }
    .about-us{
        flex-direction: column;
        gap: 0;
    }
    .contact{
        padding: 0 10% 50px 10%;
    }
    .designer p{
        font-size: 17px;
    }
}
@media (max-width: 495px){   
    header{
        height: 50px;
    }
    .nails-name h3 a{
        font-size: 16px;
    }
    .button-menu i {
        font-size: 28px;
    }
    .button-menu{
        padding: 0;
        border: none;
    }
    .appointment, .salon, .desings, .price {
        padding: 0 20% 50px 10%;
    }
    .salon-text p {
        width: 180px;
    }
    .appointment-text h3, 
    .salon-text h3, 
    .desings-text h3, 
    .price-text h3, 
    .about h3 {
        font-size: 18px;
    }
    .desings-text p {
        width: 300px;
    }
    .price-text,
    .price-text p,
    .nail-price,
    .nail-price img {
        width: 300px;
    }
    .nails-price{
        align-items: center;
    }
    .nail-price p {
        width: 280px;
    }
}
@media (max-width: 485px){
    p{
        font-size: 17px;
    }
    .appointment-text p{
        width: 375px;
    }
    .salon{
        gap: 1rem;
    }
    .salon-text p{
        width: 245px;
    }
    .desings-text p{
        width: 355px;
    }
    .price-text{
        width: 350px;
    }
    .price-text p{
        width: 355px;
    }
    .nail-price{
        margin: 0;
    }
}
@media (max-width:450px){
    .home{
        height: 60dvh;
    }
    .appointment,
    .salon{
        height: 50dvh;
    }
    .appointment-text h3, 
    .salon-text h3, 
    .desings-text h3, 
    .price-text h3,
     .about h3 {
        font-size: 17px;
    }
    .appointment-text {
        margin-top: 15px;
    }
    .appointment-text p {
        font-size: 17px;
        width: 320px;
    }
    .appointment-text button {
        font-size: 15px;
        margin-top: 10px;
    }
    .appointment-img img{
        z-index: 1000000000;
        bottom: 16em;
        right: 2em;
    }
    .salon-text p {
        width: 200px;
    }
    .salon-text a, 
    .desings-text a {
        font-size: 13px;
    }
    .salon-text p,
    .desings-text p,
    .price-text p,
    .nail-price p{
        font-size: 17px;
    }
    .nail-price h4, 
    .nail-price span {
        font-size: 20px;
    }
    .nail-price a {
        font-size: 15px;
    }
    .nail-price button {
        width: 200px;
    }
    .about p{
        font-size: 17px;
    }
    .QR img {
    width: 200px;
}
}
@media (max-width: 430px){
    .home {
        height: 54dvh;
        padding:  0 10% 50px 10%;
    }
    .home-text h1 {
        font-size: 2.5rem;
    }
    .appointment-img img{
        bottom: 16.5rem;
    }
    .appointment, .salon {
        height: 36dvh;
    }
    .appointment, .salon, .desings, .price {
        padding: 0 20% 50px 10%;
    }
    .desings-text p,
    .price-text p {
        width: 340px;
    }
    .nail-price{
        margin-left: 15%;
    }

}
@media (max-width: 415px){
    .appointment-img img {
        bottom: 15.5rem;
    }
}
@media (max-width:390px){
    .appointment-img img {
        bottom: 15rem;
    }
    .appointment, .salon {
        height: 37dvh;
    }
    .salon-img img {
        width: 125px;
    }
    .salon-text p {
        width: 186px;
    }
    .desings-text p, 
    .price-text,
    .price-text p {
        width: 323px;
    }


}
@media (max-width: 380px){
    .home{
        height: 60dvh;
    }
    .appointment {
        height: 44dvh;
    }
    .appointment-img img {
        bottom: 14.5rem;
        width: 110px;
    }
    .appointment-text p {
        font-size: 15px;
        width: 300px;
    }
    .salon {
        height: 50dvh;
        gap: 12px;
    }
    .salon-img img {
        width: 113px;
    }
    .salon-text p {
        width: 187px;
    }
    .desings-text p, .price-text p {
        width: 302px;
    }
    .desings-img img{
        width: 130px;
    }
    .price-text {
        width: 302px;
    }
    .QR a {
        font-size: 15px;
    }
    .designer p {
        font-size: 16px;
    }
}
@media (max-width: 360px){
    .appointment-img img {
        bottom: 15.5rem;
    }
    .appointment-text h3, .salon-text h3, .desings-text h3, .price-text h3, .about h3 {
        font-size: 15px;
    }
    .salon-text p {
        width: 178px;
    }

}
*/

@media (max-width:430px){
    section {
        padding: 0 10% 50px 10%;
    }
    header{
        padding: 0 10px 0 10px;
        height: 40px;
    }
    .home{
        padding-top: 25px;
        height: 55dvh;
    }
    .nails-name h3{
        margin-bottom: 0;
    }
    .nails-name h3 a{
        font-size: 15px;
    }
    .button-menu{
        border: none;
        margin-bottom: 0;
    }
    .diamond{
        width: 40px;
    }
    .home-text h1{
        font-size: 2.5rem;
    }
    .home-text p{
        font-size: 13px;
    }
    .appointment{
       /* padding-top: 50px;*/
        grid-template-columns: 1fr;
        gap: 0;
        height: 40dvh;
    }
    .appointment-text h3,
    .salon-text h3,
    .desings-text h3,
    .price-text h3{
        font-size: 16px;
    }
    .appointment-text{
        position: relative;
        bottom: 5em;
    }
    .appointment-text p,
    .desings-text p,
    .salon-text p,
    .price-text p{
        width: 350px;
    }
    .appointment-text p,
    .salon-text p,
    .desings-text p,
    .price-text p{
        font-size: 15px;
    }
    .appointment-text button{
        font-size: 12px;
    }
    .appointment-img{
        grid-area: 1/1/2/2;
        width: 400px;
    }
    .appointment-img img{
        position: relative;
        bottom: 2.5em;
        left: 4em;
        width: 120px;
        z-index: 10;
    }
    .salon{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: self-start;
        height: 35dvh;
    }
    .salon-img img,
    .desings-img img{
        width: 120px;
    }
    .salon-img img{
        position: relative;
        bottom: 30px;
    }
    .salon-text{
        position: relative;
        bottom: 4.5em;
    }
    .salon-text h3{
        position: relative;
        left: 8em;
        width: 200px;
    }
    .desings{
        grid-template-columns: 1fr;
        height: 45dvh;
        gap: 1.5em;
    }
    .desings-img{
        grid-area: 1/1/2/2;
        display: flex;
        justify-content: center;
    }
    .desings-img img{
        opacity: 1;
    }
    .desings-text{
        position: relative;
        bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .desings-texth3{
        margin-bottom: 8px;
    }
    .nails-price{
        grid-template-columns: 1fr;
    }
    .nail-price,
    .nail-price img{
        width: 350px;
    }
    .nail-price h4{
        height: auto;
    }
    .nail-price p{
        width: 300px;
        font-size: 16px;
    }
    .nail-price button{
        margin-top: 5px;
        font-size: 13px;
    }
    .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .about-us p{
        width: 235px;
        font-size: 15px;
    }
    .QR a {
        text-align: center;
        font-size: 14px;
    }
    .designer p{
        font-size: 15px;
    }
}
@media (max-width:390px){
    section {
        padding: 0 10% 50px 10%;
    }
    header{
        padding: 0 10px 0 10px;
        height: 40px;
    }
    .home{
        padding-top: 25px;
        height: 55dvh;
    }
    .nails-name h3{
        margin-bottom: 0;
    }
    .nails-name h3 a{
        font-size: 15px;
    }
    .button-menu{
        border: none;
        margin-bottom: 0;
    }
    .diamond{
        width: 40px;
    }
    .home-text h1{
        font-size: 2.5rem;
    }
    .home-text p{
        font-size: 12px;
    }
    .appointment{
       /* padding-top: 50px;*/
        grid-template-columns: 1fr;
        gap: 0;
        height: 40dvh;
    }
    .appointment-text h3,
    .salon-text h3,
    .desings-text h3,
    .price-text h3{
        font-size: 16px;
    }
    .appointment-text{
        position: relative;
        bottom: 5em;
    }
    .appointment-text p,
    .desings-text p,
    .salon-text p,
    .price-text p{
        width: 300px;
    }
    .appointment-text p,
    .salon-text p,
    .desings-text p,
    .price-text p{
        font-size: 15px;
    }
    .appointment-text button{
        font-size: 12px;
    }
    .appointment-img{
        grid-area: 1/1/2/2;
        width: 400px;
    }
    .appointment-img img{
        position: relative;
        bottom: 3em;
        left: 4em;
        width: 120px;
        z-index: 10;
    }
    .salon{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: self-start;
        height: 40dvh;
    }
    .salon-img img,
    .desings-img img{
        width: 120px;
    }
    .salon-img img{
        position: relative;
        bottom: 30px;
    }
    .salon-text{
        position: relative;
        bottom: 4.5em;
    }
    .salon-text h3{
        position: relative;
        left: 8em;
        width: 200px;
    }
    .desings{
        grid-template-columns: 1fr;
        height: 50dvh;
        gap: 0;
    }
    .desings-img{
        grid-area: 1/1/2/2;
        display: flex;
        justify-content: center;
    }
    .desings-img img{
        opacity: 1;
    }
    .desings-text{
        position: relative;
        bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nails-price{
        grid-template-columns: 1fr;
    }
    .nail-price,
    .nail-price img{
        width: 300px;
    }
    .nail-price h4{
        height: auto;
    }
    .nail-price p{
        width: 250px;
        font-size: 16px;
    }
    .nail-price button{
        margin-top: 5px;
        font-size: 13px;
    }
    .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .about-us p{
        width: 235px;
        font-size: 15px;
    }
    .QR a {
        text-align: center;
        font-size: 14px;
    }
    .designer p{
        font-size: 15px;
    }
}
@media (max-width:376px){
    section {
        padding: 0 10% 50px 10%;
    }
    header{
        padding: 0 10px 0 10px;
        height: 40px;
    }
    .home{
        padding-top: 25px;
        height: 60dvh;
    }
    .nails-name h3{
        margin-bottom: 0;
    }
    .nails-name h3 a{
        font-size: 15px;
    }
    .button-menu{
        border: none;
        margin-bottom: 0;
    }
    .diamond{
        width: 40px;
    }
    .home-text h1{
        font-size: 2.5rem;
    }
    .home-text p{
        font-size: 12px;
    }
    .appointment{
        height: 50dvh;
        grid-template-columns: 1fr;
        gap: 0;
    }
    .appointment-text h3,
    .salon-text h3,
    .desings-text h3,
    .price-text h3{
        font-size: 16px;
    }
    .appointment-text{
        position: relative;
        bottom: 55px;
    }
    .appointment-text p,
    .desings-text p,
    .salon-text p,
    .price-text p{
        width: 300px;
    }
    .appointment-text p,
    .salon-text p,
    .desings-text p,
    .price-text p{
        font-size: 15px;
    }
    .appointment-text button{
        font-size: 12px;
    }
    .appointment-img{
        grid-area: 1/1/2/2;
        width: 500px;
    }
    .appointment-img img{
        position: relative;
        bottom: 24px;
        left: 0;
        width: 120px;
        z-index: 10;
    }
    .salon{
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: self-start;
        height: 50dvh;
    }
    .salon-img img,
    .desings-img img{
        width: 120px;
    }
    .salon-img img{
        position: relative;
        bottom: 30px;
    }
    .salon-text{
        position: relative;
        bottom: 4.5em;
    }
    .salon-text h3{
        position: relative;
        left: 8em;
        width: 200px;
    }
    .desings{
        grid-template-columns: 1fr;
        height: 60dvh;
        gap: 1.5em;
    }
    .desings-img{
        grid-area: 1/1/2/2;
        display: flex;
        justify-content: center;
    }
    .desings-img img{
        opacity: 1;
    }
    .desings-text{
        position: relative;
        bottom: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .desings-text h3{
        margin-bottom: 4px;
    }
    .nails-price{
        grid-template-columns: 1fr;
    }
    .nail-price,
    .nail-price img{
        width: 300px;
    }
    .nail-price h4{
        height: auto;
    }
    .nail-price p{
        width: 250px;
        font-size: 16px;
    }
    .nail-price button{
        margin-top: 5px;
        font-size: 13px;
    }
    .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .about-us p{
        width: 235px;
        font-size: 15px;
    }
    .QR a {
        text-align: center;
        font-size: 14px;
    }
    .designer p{
        font-size: 15px;
    }
}